@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    padding: 50px;
}

header h1 {
    color: white;
    text-align: center;
    padding-bottom: 20px;
    font-size: 100px;
    font-weight: bolder;
    font-family: 'Passion One', sans-serif;
    font-weight: 700;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

header p {
    color: white;
    text-align: center;
}

section p {
    font-size: 40px;
    padding: 100px 20px;
    line-height: 80px;
    font-weight: 200;
    font-family: 'Sriracha', cursive;
}

.cordel {
    background-image: url(imagens/background001.jpg);
    background-position: right right;
    background-attachment: scroll;
    background-size: cover;
}

.cordel p {
    color: white;
}